
ul.tree, ul.tree ul {
	list-style: none;
	padding-left: 0px;
}

ul.tree li {
	/* Subsections withing the same file certainly should not be indented
	 * to keep line numbers aligned. Indent for tab group and file
	 * still may be considered. */
	margin-inline-start: 0pt;
}

span[role="button"] {
	cursor: pointer;
}

.lineNo, .mentionTitle, span[role="button"] .heading {
	color: #0000ee;
	text-decoration: underline;
}

.lineNo, .lineNoPad {
	/* Avoid smaller font
	 * https://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
	 * https://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/
	 */
	font-family: monospace, monospace;
	white-space: pre-wrap;
}

.heading {
	font-weight: bolder;
}
