
/* https://searchfox.org/comm-central/source/mozilla/browser/components/extensions/extension.css */
body {
	/* At least during alpha stage selectable text may be useful for bug reports */
	user-select: text;
}

/* Fix popup width to avoid change of its position
 * (to the left or to the right if the button when page is changed */
body {
	width: 400px;
	/* Avoid overflow if the action toolbar button is in the extension ">>" menu */
	max-width: 100%;
}

@media all and (min-device-width: 801px) {
	body {
		width: 600px;
	}
}
@media all and (min-device-width: 1201px) {
	body {
		/* hardcoded value in browsers */
		width: 800px;
	}
}

/* On low resolution screens bottom part of popup may be unavailable.
 * The values below are not really safe though.
 * https://bugzilla.mozilla.org/1785059
 * "Content of browserAction popup may be cropped due to assumption of incorrect size" */
body {
	height: 400px;
	max-height: 100%;
}

@media all and (min-device-height: 800px) {
	body {
		height: 500px;
	}
}

@media all and (min-device-height: 1080px) {
	body {
		/* Warning: in Chromium values above 580px may cause scroll bar. */
		height: 600px;
	}
}

html, body {
	/* Override `extensions.css` to make `.menu-page` flex elements. */
	display: block;
}

.menu-page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.stretchable {
	overflow: auto;
	flex-grow: 1;
	flex-shrink: 1;
}

/* Reset UI theme, otherwise background is not applied */
button.panel-section-footer-button {
  border: none;
}

a.panel-list-item, a.panel-section-header {
  text-decoration: none;
  color: inherit;
}
.panel-list-item {
  padding-inline: 8px;
}
a.panel-list-item:active, a.panel-list-item:focus,
a.panel-section-header:focus {
  box-shadow: inset 0 0 0 2px rgba(97, 181, 255, 0.75);
  outline: none;
}
a.panel-list-item > .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  margin-inline: 4px;
}
.panel-list-item > .icon,
a.panel-list-item > .text-shortcut {
  width: 16px;
  text-align: center;
}

.display-none {
	display: none;
}
.hidden {
	visibility: hidden;
}
.mentions {
	padding-inline: 8px;
}
.log-list > .panel-list-item {
	overflow: hidden;
	flex-shrink: 0;
}
.log-list > .panel-list-item > .text-shortcut {
	white-space: nowrap;
	width: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.log-list > .panel-list-item > .date,
.log-list > .panel-list-item > .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-inline: 4px;
}
.log-list > .panel-list-item > .date {
	width: 5em;
}
.panel-section-header > .icon-section-header {
	display: flex;
	align-items: center;
}

.card {
	margin-block: 0.5ex;
}
.card-message-addresses, .card-link {
	display: flex;
	column-gap: 1ex;
}
.card-message-addresses {
	justify-content: space-between;
}
.card-message-addresses > * {
	flex-grow: 1;
	flex-shrink: 1;
}
.card-message-addresses > .icon,
.card-message-addresses > time
{
	flex-grow: 0;
	flex-shrink: 0;
}

.card-other {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1ex;
}
.card-message-addresses > *,
.card-other > * {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.card-subject {
	font-weight: bolder;
}
.card-other > div, .card-link > * {
	flex-shrink: 1;
	min-width: 0;
}

.selection-text {
	overflow: hidden;
	max-height: 3em;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}
